# Ativa automaticamente o ambiente Nix do flake.nix ao entrar no diretório
use flake

# Variáveis específicas do projeto
export SIGE_WORKSPACE_DIR="${PWD}/.workspace"
export CGO_ENABLED=1

# Garante que o binário local (./sige) esteja no PATH
export PATH="${PWD}:${PATH}"
