# Binaries
sige
test/test_mem

# Generated config
config.json

# Environment / IDE
.idea/
.vscode/
*.swp
*.tmp
*.out

# Nix & direnv
.direnv/
.envrc
result
result-*
.nix-gc-roots
.nix-profile
.nix-defexpr
flake.nix
flake.lock

# OS files
.DS_Store
